In [1]:
import pandas as pd

In [2]:
## Reading Data
df=pd.read_csv('usecase_3_.csv')

## Viewing Data and DATA Cleaning

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,NCT Number,Study Title,Study URL,Acronym,Study Status,Brief Summary,Study Results,Conditions,...,Study Design,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents
0,75209,118014,NCT00559130,Efficacy Study of CytoSorb Hemoperfusion Devic...,https://clinicaltrials.gov/study/NCT00559130,NaN,COMPLETED,The hypothesis of this study is use of CytoSor...,NO,Acute Respiratory Distress Syndrome|Acute Lung...,...,Allocation: RANDOMIZED|Intervention Model: PAR...,2007-01,2007-11,2011-04,2011-06,2007-11-16,NaN,2011-06-07,"Aachen, Germany|Berlin, Germany|Bonn, Germany|...",NaN
1,6356,9987,NCT00937664,Safety and Tolerability Study of AZD7762 in Co...,https://clinicaltrials.gov/study/NCT00937664,NaN,TERMINATED,The primary purpose of this study is to find o...,NO,Cancer|Solid Tumors|Advanced Solid Malignancies,...,Allocation: NON_RANDOMIZED|Intervention Model:...,D1040C00008,2009-07,2011-02,2011-02,2009-07-13,NaN,2011-02-07,"Research Site, Minami-ku, Fukuoka, Japan",NaN
2,143427,226012,NCT00441597,Does Atorvastatin Reduce Ischemia-Reperfusion ...,https://clinicaltrials.gov/study/NCT00441597,NaN,COMPLETED,To study the impact of 3 day exposure to atorv...,NO,Ischemia Reperfusion Injury|Cardiovascular Dis...,...,Allocation: RANDOMIZED|Intervention Model: CRO...,atorv01,2007-02,2009-02,2009-03,2007-03-01,NaN,2009-03-17,"Radboud University Nijmegen Medical Centre, Ni...",NaN
3,138885,218952,NCT03296228,Comparison of Dynamic Radiographs in Determini...,https://clinicaltrials.gov/study/NCT03296228,NaN,COMPLETED,The purpose of this study is to identify the f...,NO,Adolescent Idiopathic Scoliosis,...,Observational Model: |Time Perspective: p,UW 16-208,2016-05-01,2018-05-01,2018-12-31,2017-09-28,NaN,2020-05-06,"Duchess of Kent Children's Hospital, Hong Kong...",NaN
4,9769,15382,NCT00421603,A Placebo-Controlled Study of Mixed Amphetamin...,https://clinicaltrials.gov/study/NCT00421603,TACT,COMPLETED,"The proposed protocol is a double-blind, place...",YES,Cocaine Dependence,...,Allocation: RANDOMIZED|Intervention Model: PAR...,#5368|R01DA022217,2007-02,2010-05,2010-05,2007-01-12,2013-02-28,2019-04-24,"STARS, New York, New York, 10032, United States",NaN

In [4]:
df.isnull().sum()

Unnamed: 0.1                       0
Unnamed: 0                         0
NCT Number                         0
Study Title                        0
Study URL                          0
Acronym                       193586
Study Status                       0
Brief Summary                      0
Study Results                      0
Conditions                         0
Interventions                  23513
Primary Outcome Measures       10491
Secondary Outcome Measures     71798
Other Outcome Measures        239305
Sponsor                            0
Collaborators                 173898
Sex                              260
Age                                0
Phases                        144812
Enrollment                      3372
Funder Type                        0
Study Type                         0
Study Design                       0
Other IDs                         21
Start Date                      2332
Primary Completion Date        12904
Completion Date                 7891
First Posted                       0
Results First Posted          205996
Last Update Posted                 0
Locations                      23611
Study Documents               232422
dtype: int64

In [4]:
## Droping unnecessry column
new_df=df.drop(['Unnamed: 0.1','Unnamed: 0','Study URL','Acronym','Study Documents','Results First Posted','Phases','Collaborators','Other Outcome Measures','Secondary Outcome Measures','Other IDs','NCT Number','Start Date','Primary Completion Date','Completion Date','First Posted','Last Update Posted'],axis=1 )

In [5]:
## Dropping rows of nan values
new_df=new_df.dropna()

In [6]:
new_df.shape

(206978, 15)

In [7]:
new_df.isnull().sum()

Study Title                 0
Study Status                0
Brief Summary               0
Study Results               0
Conditions                  0
Interventions               0
Primary Outcome Measures    0
Sponsor                     0
Sex                         0
Age                         0
Enrollment                  0
Funder Type                 0
Study Type                  0
Study Design                0
Locations                   0
dtype: int64

In [8]:
df['Study Status'].value_counts()

Study Status
COMPLETED     221243
TERMINATED     23496
WITHDRAWN      11512
SUSPENDED       1326
Name: count, dtype: int64

## Data is highly imbalanced but we will take care of it afterwards

In [9]:
X=new_df.drop(['Study Status'],axis=1)
y=new_df['Study Status']

In [10]:
X.shape,y.shape

((206978, 14), (206978,))

In [11]:
y=y.apply(lambda x:1 if x=='COMPLETED' else 0)

In [12]:
y.value_counts()

Study Status
1    178272
0     28706
Name: count, dtype: int64

In [13]:
new_df.columns

Index(['Study Title', 'Study Status', 'Brief Summary', 'Study Results',
       'Conditions', 'Interventions', 'Primary Outcome Measures', 'Sponsor',
       'Sex', 'Age', 'Enrollment', 'Funder Type', 'Study Type', 'Study Design',
       'Locations'],
      dtype='object')

In [14]:
new_df.head(1)

,Study Title,Study Status,Brief Summary,Study Results,Conditions,Interventions,Primary Outcome Measures,Sponsor,Sex,Age,Enrollment,Funder Type,Study Type,Study Design,Locations
0,Efficacy Study of CytoSorb Hemoperfusion Devic...,COMPLETED,The hypothesis of this study is use of CytoSor...,NO,Acute Respiratory Distress Syndrome|Acute Lung...,DEVICE: CytoSorb Hemoperfusion,Relative IL-6 levels as a percent (%) of basel...,"MedaSorb Technologies, Inc",ALL,"ADULT, OLDER_ADULT",100.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,"Aachen, Germany|Berlin, Germany|Bonn, Germany|..."

In [20]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')

# Initialize stemmer and stopword list
stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

def preprocess_text_with_stemming(text):
    # """
    # Preprocesses the input text using stemming.
    
    # Args:
    #     text (str): The input text to preprocess.
    
    # Returns:
    #     str: Preprocessed text.
    # """
    # Lowercase the text
    text = text.lower()
    
    # Remove numbers
    text = re.sub(r'[^a-zA-Z]', ' ', text)
    
    # Remove punctuation
    # text = re.sub(r'[^\w\s]', ' ', text)
    
    # Tokenize
    tokens = text.split()
    
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    
    # Stem tokens
    stemmed_tokens = [stemmer.stem(word) for word in tokens]
    
    # Join tokens back to string
    preprocessed_text = ' '.join(stemmed_tokens)
    
    return preprocessed_text

[nltk_data] Downloading package punkt to C:\Users\Harshit
[nltk_data]     Goswami\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Harshit
[nltk_data]     Goswami\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [23]:
new_df['text_data']=new_df['Study Title']+new_df['Brief Summary']+new_df['Conditions']+new_df['Interventions']+new_df['Primary Outcome Measures']

In [24]:
new_df['text_data']=new_df['text_data'].apply(preprocess_text_with_stemming)

In [28]:
new_df['text_data'].shape

(206978,)

In [39]:
new_df[['text_data']].to_pickle('preprocessed_text_data.pkl')

In [42]:
## text data preprocessing
## in tags.pkl preprocessed data is present
import pickle
hg=pd.read_pickle('preprocessed_text_data.pkl')
hg=pd.DataFrame(hg)

In [43]:
hg.shape

(206978, 1)

In [44]:
X.shape

(206978, 10)

In [45]:
X=X.drop(labels=['Study Title','Brief Summary','Conditions','Interventions','Primary Outcome Measures'],axis=1)

KeyError: "['Study Title', 'Brief Summary', 'Conditions', 'Interventions', 'Primary Outcome Measures'] not found in axis"

In [46]:
X['text_data']=hg

In [47]:
X.isnull().sum()

Study Results    0
Sponsor          0
Sex              0
Age              0
Enrollment       0
Funder Type      0
Study Type       0
Study Design     0
Locations        0
text_data        0
dtype: int64

In [48]:
X.head()

,Study Results,Sponsor,Sex,Age,Enrollment,Funder Type,Study Type,Study Design,Locations,text_data
0,NO,"MedaSorb Technologies, Inc",ALL,"ADULT, OLDER_ADULT",100.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,"Aachen, Germany|Berlin, Germany|Bonn, Germany|...",efficaci studi cytosorb hemoperfus devic il re...
1,NO,AstraZeneca,ALL,"ADULT, OLDER_ADULT",24.0,INDUSTRY,INTERVENTIONAL,Allocation: NON_RANDOMIZED|Intervention Model:...,"Research Site, Minami-ku, Fukuoka, Japan",safeti toler studi azd combin gemcitabineth pr...
2,NO,Radboud University Medical Center,MALE,ADULT,30.0,OTHER,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: CRO...,"Radboud University Nijmegen Medical Centre, Ni...",atorvastatin reduc ischemia reperfus injuri hu...
3,NO,The University of Hong Kong,ALL,"CHILD, ADULT",134.0,OTHER,OBSERVATIONAL,Observational Model: |Time Perspective: p,"Duchess of Kent Children's Hospital, Hong Kong...",comparison dynam radiograph determin fusion le...
4,YES,New York State Psychiatric Institute,ALL,ADULT,81.0,OTHER,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,"STARS, New York, New York, 10032, United States",placebo control studi mix amphetamin salt topi...

In [49]:
X.shape

(206978, 10)

In [50]:
X['text_data'][1]

'safeti toler studi azd combin gemcitabineth primari purpos studi find maximum toler dose experiment drug call azd given approv drug gemcitabin base side effect experienc patient receiv drug cancer solid tumor advanc solid malignanciesdrug azd drug gemcitabineassess advers event base ctcae version laboratori valu vital sign measur cardiac marker ecg echocardiogram laboratori valu weekli treatment cycl variabl weekli cycl everi cycl week cycl'

In [51]:
## Seperating COlumns
textual=['text_data']
numerical=['Enrollment']
categorical_ohe=['Study Results','Sex','Age','Study Type']
categorical_ordial=['Sponsor','Funder Type','Study Design','Locations']
target=['Study Status']

In [52]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [53]:
## Pipeline for Sex,Age,Study Results,Study Type
pipe1=Pipeline([
    ('ohe',OneHotEncoder(handle_unknown='ignore'))
])

In [54]:
## Pipeline for Sponsor,Funder Type,Locations,Study Design
pipe2=Pipeline([
    ('ordinal',OrdinalEncoder())
])

In [55]:
## Pipeline for text data
pipe4=Pipeline([
    ('tfidf',TfidfVectorizer(max_features=1000))
])

In [56]:
## Data Preprocessing
data_preprocessor=ColumnTransformer([
    ('categorical_ohe',pipe1,categorical_ohe),
    ('categorical-ordinal',pipe2,categorical_ordial),
    #('text_data',pipe4,textual)
],remainder='passthrough')

In [57]:
text_vectorizaton=pipe4.fit_transform(X['text_data'])

In [58]:
hg_text=pd.DataFrame(text_vectorizaton.toarray())

In [59]:
hg_text.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
X_preprossed=data_preprocessor.fit_transform(X)

In [61]:
X_preprocessed=pd.DataFrame(X_preprossed)

In [62]:
X_preprocessed

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,13060.0,3.0,902.0,1967.0,100.0,efficaci studi cytosorb hemoperfus devic il re...
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1859.0,3.0,476.0,96082.0,24.0,safeti toler studi azd combin gemcitabineth pr...
2,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,16983.0,6.0,614.0,93377.0,30.0,atorvastatin reduc ischemia reperfus injuri hu...
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,20290.0,6.0,1358.0,36946.0,134.0,comparison dynam radiograph determin fusion le...
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14685.0,6.0,1000.0,99246.0,81.0,placebo control studi mix amphetamin salt topi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206973,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,3554.0,6.0,852.0,39523.0,120.0,trial compar tisseel adjunct tradit hemostasi ...
206974,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,13140.0,6.0,1358.0,74811.0,500.0,serum mif acut kidney injuryacut kidney injuri...
206975,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,22878.0,6.0,1358.0,135487.0,505.0,feasibl ai base heart function predict model u...
206976,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,20175.0,6.0,578.0,112082.0,10.0,efficaci trimethoprim wound heal patient epide...
206977,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4348.0,3.0,871.0,41041.0,208.0,pbase system idiopath rhiniti clinic investiga...

In [63]:
X_preprocessed=X_preprocessed.drop([18],axis=1)

In [64]:
X_final=pd.concat([X_preprocessed,hg_text],axis=1)

In [65]:
X_final.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
import pickle 
X_final.to_pickle('independent_feature.pkl')

In [72]:
y.to_pickle('depeendent_feature.pkl')

In [67]:
import pickle
import pandas as pd
X_final=pd.read_pickle('independent_feature.pkl')

In [68]:
X_final.isnull().sum()

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 1018, dtype: int64

In [69]:
X_final=X_final.dropna()

In [70]:
X_final

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206973,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
206974,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
206975,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
206976,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.705891,0.0,0.0,0.0
206977,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_final,y,test_size=0.2,random_state=42)

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [74]:
model1=RandomForestClassifier()
model1.fit(X_train,X_test)

ValueError: Found input variables with inconsistent numbers of samples: [165582, 41396]

In [ ]:
y_pred=model1.pridict(X_test)

In [ ]:
acc=accuracy_score(y_pred=y)